/*
Font: 		Kestia
Style: 		Regular
URL: 		https://youworkforthem.com/font/T17225/kestia
Foundry: 	Valentino Vergan
Foundry: 	https://youworkforthem.com/designer/1704/valentino-vergan
Copyright:	©2022 Martin Katibi. All Rights Reserved.
Version: 	17
Created:	October 04, 2022
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Kestia-Regular';
	src: url('kestia-regular.eot');
	src: url('kestia-regular.eot?#iefix') format('embedded-opentype'),
             url('kestia-regular.woff2') format('woff2'),
	     url('kestia-regular.woff') format('woff'),
	     url('kestia-regular.ttf') format('truetype'),
	     url('kestia-regular.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
